<ng-template #loading>
  <div class="alert alert-info text-center">
    Espere por favor
  </div>
</ng-template>

<div *ngIf="country; else loading">
  <div class="row">
    <div class="col-12">
      <h2>País: <strong>{{ country.name.common }}</strong></h2>
      <hr>
    </div>

  <div class="row mb-4">

    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población: </strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código: </strong> {{ country.cca3 }}
        </li>
        <li class="list-group-item">
          <strong>Capital: </strong> {{ country.capital }}
        </li>
        <li class="list-group-item">
          <strong>Idiomas: </strong> {{ languages }}
        </li>
        <li class="list-group-item">
          <strong>Mapa: </strong>
          <a
            [href]="country.maps.googleMaps"
            target="_blank"
            rel="noopener noreferrer"
            class="link-underline link-underline-opacity-0"
          >
            <strong>Google Maps</strong>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-5">
      <h3>Bandera:</h3>
      <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <h3>Traducciones</h3>
      <div class="d-flex">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nº</th>
              <th>Idioma</th>
              <th>Oficial</th>
              <th>Común</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let translation of translationsArray | keyvalue; let i = index">
              <tr class="align-middle">
                <td>{{ i + 1 }}</td>
                <td><h5><span class="badge bg-primary mt-2">{{ translation.key | titlecase}}</span></h5></td>
                <td>{{ translation.value.official }}</td>
                <td>{{ translation.value.common }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
